version: '3.8'

services:
  web:
    build: ./store
    depends_on:
      - db
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    expose:
      - 8000
    env_file:
      - ./.env.dev
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user_store_db
      - POSTGRES_PASSWORD=password_store_db
      - POSTGRES_DB=store

volumes:
  postgres_data:
